<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  </head>
  <body>
    <div class="hero-unit"><h1><%= h1 %></h1>
    <p>Welcome! Add your ToDo to the list, or delete completed tasks!</p></div>
    <div class="row-fluid">
    	<div class="list offset3 span6">
    	<table class="table table-hover table-bordered">
    	<thead class="span6"><tr><th>ToDos</th></tr></thead>
        <tbody>
            <% todos.forEach( function (todo){ %>
    		<tr><td
                <% if( todo.completed == true ){ %> class="completed" <%}%> 
                > <%= todo.title %></td><td><% if ( todo.completed == false ) { %><a href="/complete/<%= todo._id %>">Complete</a><%}%> <% if ( todo.completed == true ) { %><a href="/uncomplete/<%= todo._id %>">Uncomplete</a><%}%></td><td><a href="/delete/<%= todo._id %>">Delete</a></td></tr>
            <% }); %>
        </tbody>
    	</table>
    	</div>
	</div>
	<div class="row-fluid">
    <div class="list offset3 input-append">
    	<form action="/create" method="post">
    			<input type="text" name="content" autofocus="autofocus"/>
    			<input type="submit" class="btn" name="todo-submit" value="Add To List"/>
    	</form>
    </div>
	</div>
  </body>
</html>